*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: black;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    background-color: rgb(9, 156, 156);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
/* #card{
    background-color: aquamarine;
    padding: 30px 50px;
    border-radius: 10px;
    text-align: center;
} */
#box{
    height: 350px;
    width: 550px;
    background-color: rgb(250,250,250);
    border-radius: 10px;
    border: 6px solid burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.2);
 }
button{
    height: 50px;
    width: 120px;
    padding: 5px 15px;
    margin-top: 20px;
    background-color: skyblue;
}
button:active{
    scale: 2;
}
h1{
    height: 200px;
    width: 500px;
    border-radius: 5px;
    margin-top: 30px 0;
    font-size: 100px;
    display: flex;
    justify-content: center;
}
h5{
    height: 50px;
    width: 100px;
    color: crimson;
    border-radius: 5px;
    margin-top: 30px 20px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
h2{
    margin-top: 10px;
    font-size: 30px;
    margin-left: -15px
}
/* .card{
    background-color: mistyrose;
    padding: 20px 60px;
    border-radius: 40px;
}
.card img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-top: 20px;
    object-fit: cover;
} */

/* #hero{
    background-color: aqua;
    font-size: 60px;
    display: flex;
    align-items: center;
}

#heroine{
    background-color: chocolate;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sai{
    background-color: cornflowerblue;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}*/

img{
    height: 200px;
    width: 500px;
    object-fit: fit;
}